streamlit
bcrypt
pyjwt
PyJWT
extra-streamlit-components
PyPDF2
sentence-transformers
faiss-cpu
mysql-connector-python
pymysql
duckdb
gtts
groq
SpeechRecognition
pydub
soundfile
networkx
matplotlib
plotly
pyvis
neo4j 
pytesseract
pdf2image
pillow
sdv
rdt
copulas
requests
crewai
langchain
langchain-groq
litellm
