streamlit
bcrypt
pyjwt
PyJWT
extra-streamlit-components
PyPDF2
sentence-transformers
faiss-cpu
pytesseract
pdf2image
Pillow
gtts
groq
SpeechRecognition
pydub
soundfile
networkx
matplotlib
plotly
pyvis
neo4j 
tesseract-ocr
